/* Force fullscreen */
.App {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #000;
  }
  
  /* Special handling for horizontal view to ensure it's fullscreen */
  .horizontal-display-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
  }